@font-face {
  font-family: "HyliaSerif";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/hyliaserifcyr.ttf");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, button, txt-square {
  font-family: "HyliaSerif";
}

:focus, :active {
  outline: none;
}

body {
  font-family: "HyliaSerif";
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
	background-image: url("./img/background.jpg");
  background-size: cover;
  min-height: 100vh;
}

.header {
  font-family: "HyliaSerif";
  font-size: 25px;
  line-height: 150%;
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-start;
  display: block;
  padding: 20px;
}

.text-field {
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9f9de;
  font-size: 18px;
}

.text-field__textarea {
  box-shadow: 0px 0px 10px 3px #4cd39d;
  margin-top: 20px;
  border-radius: 10px;
  height: 150px;
  resize: none;
  background-color: #f9f9de;
  padding: 10px;
}

.text-field__change-language span {
  font-weight: 600;
  align-items: center;
  color: #1e4584;
}

.keyboard {
  width: 745px;
  height: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 3px #4cd39d;
	margin-bottom: 15px;
  background-color: #011423;
  border-radius: 20px;
}

.keyboard__keys-container {
  width: 698px;
  height: 240px;
  display: grid;
  gap: 10px;
}

.keyboard__row {
  display: grid;
  height: 40px;
  gap: 6px;
  width: 100%;
}

.row1 {
  grid-template-columns: repeat(13, 40px) 100px;
}

.row2 {
  grid-template-columns: 100px repeat(12, 40px) 40px;
}

.row3 {
  grid-template-columns: 100px repeat(11, 40px) 86px;
}

.row4 {
  grid-template-columns: 100px 40px repeat(10, 40px) 85px;
}

.row5 {
  grid-template-columns: 75px 40px 75px 225px 75px 40px 40px 40px;
}

.key-cup {
  background-color: #14cffd;
  color: #f9f9de;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 0 5px;
  user-select: none;
  transition: 0.2s;
  box-shadow: 0px 0px 8px 1px #4cd39d;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.key-cup:active {
  background-color: #b8a064;
}

.key-cup.pressed {
  background-color: #b8a064;
  color: #fff;
  transform: scale(0.95);
}

.key-cup.arrow-key-cup {
  background-color: #4cd39d;
}

.key-cup.arrow-key-cup:active {
  color: #f9f9de;
  background-color: #b8a064;
}

.key-cup.arrow-key-cup.pressed {
  color: #f9f9de;
  background-color: #b8a064;
}

.key-cup.func-key-cup {
  font-weight: 500;
  color: #f9f9de;
  background-color: #4cd39d;
}

.key-cup.func-key-cup:active {
  background-color: #b8a064;
  color: #f9f9de;
}

.key-cup.func-key-cup.pressed {
  background-color: #b8a064;
  color: #f9f9de;
}

.key-cup.doubled-key-cup {
  display: flex;
  flex-direction: column;
  padding: 0 13px;
  gap: 3px;
  justify-content: center;
}

.key-cup .shifted-key-cup {
  font-size: 18px;
  color: #96b1db;
  line-height: 100%;
  align-self: flex-start;
}

.key-cup .unshifted-key-cup {
  align-self: flex-end;
  line-height: 100%;
}